# Node / Angular / Nest
node_modules/
dist/
.tmp/

# Angular
.angular/
.env

# Logs
logs/
*.log

# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# =========================
# UNITY
# =========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Autres
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

