# Node / Angular / Nest
node_modules/
dist/
.tmp/

# Angular
.angular/
.env

# Logs
logs/
*.log

# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# =========================
# UNITY
# =========================

robot/[Ll]ibrary/
robot/[Tt]emp/
robot/[Oo]bj/
robot/[Bb]uild/
robot/[Bb]uilds/
robot/[Ll]ogs/
robot/UserSettings/

# Autres
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

