<div class="live-container" style="margin-top: 50px;">
  <!-- 🎥 Flux caméra -->
  <div class="header">
    <span *ngIf="ui.isLive() | async" class="badge live">LIVE</span>
    <span *ngIf="!(ui.isLive() | async)" class="badge history">HISTORY</span>
  </div>
  
  <div class="video-wrapper">
    <ng-container *ngIf="event$ | async as event">
      <img #liveImage
        *ngIf="!event.snapshot"
        src="assets/camera.jpeg"
      />
    
      <img
        *ngIf="event.snapshot"
        [src]="event.snapshot"
      />
    </ng-container>
    <ng-container *ngIf="event$ | async as event">
      <div
        *ngFor="let face of event.payload.faces"
        class="bbox"
        [style.left.%]="face.box.x * 100"
        [style.top.%]="face.box.y * 100"
        [style.width.%]="face.box.width * 100"
        [style.height.%]="face.box.height * 100"
      ></div>
    </ng-container>
  </div>
</div>