<div class="timeline">

  <!-- ⏱ Slider temporel -->
  <ng-container *ngIf="events$ | async as events">
    <!-- Player Button -->
    <div class="player-controls">
      <div class="speed-controls">
        <button
          [class.active]="speed === 1"
          (click)="setSpeed(1)"
        >x1</button>
      
        <button
          [class.active]="speed === 2"
          (click)="setSpeed(2)"
        >x2</button>
      
        <button
          [class.active]="speed === 4"
          (click)="setSpeed(4)"
        >x4</button>
      </div>      
      <button (click)="play(events)">▶️ Play</button>
      <button (click)="stop()">⏹ Stop</button>
    </div>
          
    <!-- Replay Button -->
    <div class="timeline-controls">
      <button
        type="button"
        class="btn-replay"
        (click)="replay(events)"
        [disabled]="!events.length"
      >
        ▶️ Replay
      </button>
    </div>
    
    <input
      type="range"
      min="0"
      [max]="events.length - 1"
      [value]="selectedIndex"
      (input)="scrub($any($event.target).value, events)"
      class="timeline-slider"
    />

    <div
      class="snapshot-preview"
      *ngIf="previewIndex !== null" 
    >
      <img [src]="events[previewIndex].snapshot" />
    
      <div
        *ngFor="let face of facesToDisplay"
        class="bbox"
        [style.left.%]="face.box.x * 100"
        [style.top.%]="face.box.y * 100"
        [style.width.%]="face.box.width * 100"
        [style.height.%]="face.box.height * 100"
      ></div>
    </div>
   
    <!-- 🕒 Preview -->
    <div class="preview-time">
      {{ events[selectedIndex]?.timestamp | date:'HH:mm:ss' }}
    </div>

    <!-- 📍 Timeline -->
    <div
      class="event"
      *ngFor="let e of events; let i = index"
      (mouseenter)="mouseEnter(e, i)"
      (mouseleave)="mouseLeave(e.id, i)"
      (click)="select(e.id, i)"
      [class.active]="i === selectedIndex"
    >
      <div class="dot"></div>
      <div class="time">
        {{ e.timestamp | date:'HH:mm:ss' }}
      </div>
      <div class="count">
        {{ e.payload.faces.length }} face(s)
      </div>
      <!-- Bouton export pro -->
      <button
        type="button"
        class="btn-export"
        (click)="export(e.id, events); $event.stopPropagation()"
      >
        <span class="icon">⬇️</span>
        <span class="label">Export</span>
        <span class="tooltip">Exporter snapshot + JSON</span>
      </button>
      <button
        type="button"
        class="btn-export"
        (click)="exportAudit(e.id, events); $event.stopPropagation()"
      >
        <span class="icon">🧾</span>
        <span class="label">Audit</span>
        <span class="tooltip">Exporter Audit + JSON</span>
      </button>
    </div>
  </ng-container>
</div>

<div class="row">
    <!-- 🔴 LIVE -->
    <button class="back-live" (click)="backToLive()">
      🔴 Retour LIVE
    </button>
</div>
